

$white:                   #FFFFFF;
$mahogany:                #BA3638;
$white-smoke:             #F2F1F1;
$black:                   #000000;
$suva-grey:               #909090;
$suva-grey8b:             #8C8B8B;
$red-berry:               #6A1E1F;
$froly:                   #C57071;
$dim-gray:                #707070;
