
<ul class="celebrity">
  <li class="celebrity__item" *ngFor="let celebrity of dataRankings ; let i = index" >
    <figure>
      <div class="celebrity__box">
            <img [src]="celebrity.picture" [alt]="celebrity.name" class="celebrity__img">
          <span class="celebrity__number">{{ i + 1 }}</span>
      </div>
      <div class="celebrity__description">
        <figcaption>
          <p class="celebrity__name">{{ celebrity.name }}</p>
          <p class="celebrity__detail">{{ celebrity.description }}</p>
        </figcaption>
      </div>
    </figure>
    <div class="celebrity__result">
      <div>
        <p class="celebrity__like">{{ reactCelebrity[0].like }}</p>
        <p class="celebrity__dont-like">{{ reactCelebrity[0].dontLike }}</p>
        <span>
          {{ celebrity.positive }}</span>
        <span>
          {{ celebrity.negative }}
        </span>
      </div>
    </div>
  </li>
</ul>
